body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #ffffff;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
}
h2 {
    margin: 0; 
    color: white;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 20px;
    background: #416f81;
    text-transform: uppercase;
}

.fa-plus {
    float: right;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    color: rgba(29, 27, 27, 0.822);
}

li:nth-child(2n){
    background: #eee;;
}
span{
    background: #e74c3c;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: .2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1;
}

input{
    font-size: 18px;
    background-color: #eee;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0, 0);
 
}
input:focus{
    background: #ffffff;
    border: 3px solid #416f81;
    outline: none;
}
